*{
    margin: 0;
}
.header{
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #fbf7ed;
    
}
.icon{
    height: 35px;
    width: 121px;
    margin-left: 80px;
    margin-top: 8px;
    position: relative;
    top: 7px;
}
.start{
    
    margin-left: 35px;
    font-size: 15px;
    border: none;
    background-color: #fbf7ed;
}
.learn{
    margin-left: 335px;
    border: none;
    background-color: #fbf7ed;
}
.price{
    margin-left: 860px;
    margin-top: -18px;
    border: none;
}
.log{
    margin-left: 1050px;
    margin-top: -15px;
    border: none;
    
}
.trial{

    margin-left: 1145px;
    margin-top: -25px;
    background-color: #008060;
    color: aliceblue;
    position: relative;
    top: -20px;
    border-radius: 8px;
    width: 136px;
    height: 56px;
    font-size: 18px;
}
.commerce{
    margin-left: 73px;
    margin-top: -8px;
    color: #004c3f;
    font-size: 42px;
    font-family: sans-serif;
}
.million{
    margin-left: 75px;
    margin-top: 47px;
    color: #6b7177;
    font-size: 21px;
    font-family: sans-serif;
}
.mail{
    margin-left: 84px;
    margin-top: 22px;
    height: 53px;
    width: 289px

}
.trial1{
  
   height: 48px;
   width: 107px;
   background-color:#004c3f;
   border-radius: 9px;
   color: white;
}
.pic1{
    margin-left: 579px;
    margin-top: -429px;
    width: 770px;
}

.ecommerce{
   background-color: #fbf7ed;
   width: 100%;
   padding-top: 140px;
}
.try{
    color: #6b7177;
    margin-left: 75px;
    margin-top: 18px;
    font-family: sans-serif;
    font-size: 12px;
}
.green{
    width: 100%;
    background-color: #004c3f;
    height: 1228px;
}
.bring{
    color:white;
    padding-top: 100px;
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 82px;
}
.create{
    margin-left: 82px;
    margin-top: 25px;
    color: white;
    font-family: inherit;
    
}
#explore{
    color: white;
    position: absolute;
    margin-left: 4px;
    margin-top: 33px;
    margin-top: 20px;

}
#arrow{
    width: 24px;
    height: 20px;
    position: relative;
    top: -19px;
}
.pictures{
    margin-top: 53px;
    height: 410px;
    width: 250px;
    display: flex;
    margin-left: -53px;
    
    
}
.page2text{
    margin-left: 13px;
    margin-top: 8px;
    font-size: 16px;
}
.pictures img{
    margin-left: 10px;
    
}




.take{
    font-size: 40px;
    margin-left: -48px;
    color: white;
    margin-top: 208px;
    font-family: system-ui;
}
#content{
  margin-top: 192px;
  margin-left: -41px;
  font-family: system-ui;

    }
    
.page2boxB{
    
    width: 1238px;
    height: 275px;
    background-color:#004c3f;
    margin-left: -46px;
    display: flex;
    margin-top: 11px;
}
.page2boxB1{
    width: 311px;
    height: 249px;
    background-color: #004c3f;
    margin: 10px;
}
    .page2boxB2{  
        width: 311px;
        height: 249px;
        background-color:#004c3f;
        margin: 10px;
    
}
.page2boxB3{  
    width: 311px;
    height: 249px;
    background-color: #004c3f;
    margin: 10px;
}
.page2boxB4{  
    width: 311px;
    height: 249px;
    background-color: #004c3f;
    margin-left: 749px;
    margin: 10px;
 }
            
 #boxpic{
   margin-top: 49px;
   margin-left: 1px;
}
#boxcontent1{
  margin-top: 12px;
}
#boxcontent2 {
    margin-top: 10px;
}
 #boxcontent1{
    margin-top: 12px;

 }
.page4{
  width:100%;
  height:200px;
  background-color: white;
  margin-top: 140px;
}
#page4content1{
   margin-left: 296px;
   font-size: 35px;
   font-family: sans-serif;
   margin-left: 260px;
   color:black
   
}
#page4content2{
    margin-left: 251px;
    font-size: 23px;
    margin-top: 35px;
    color:gray
}
.page5{
    width: 100%;
    height: 289px;
    background-color:white;
    display:flex
}
.page5image{
    width: 520px;
    height: 350px;
    background-color: aqua;
    
}
.page5text{
    background-color:white;
    width: 476px;
    height: 288px;
    margin-left: 153px;
}
.class{
    width:100px;
    height:100px
}
#p5content1{
    font-size: 30px;
    font-family: fangsong;
    color: black;

}
#p5content2{
    font-family: emoji;
    font-size: 18px;
    margin-top: 17px;
    color: gray;

}
#p5content3{
    
    color: darkgreen;
    margin-top: 30px;
font-family:sans-serif;

}
#imagep5{
    width: 550px;
    height: 313px;
}
.page6{
    width: 1186px;
    height: 500px;
    background-color:white;
    margin-top: 103px;
    display: flex;
}
.p6sec1{
    width:500px;
    height:500px
}
.p6sec2{
    width:500px;
    height:500px
}
.page7{
    width: 1186px;
    height: 500px;
    background-color:white;
    margin-top: 103px;
    display: flex;

}
.p7sec1{
    width:700px;
    height:500px

}
.p7sec2{
    width:500px;
    height:500px
}


.page8{
    width:100%;
    height:500px;
    display:flex;
    

}
.p8sec1{
    width: 512px;
    color: black;
    height: 65px;
    
}
.p8sec2{
    background-color:white;
    width: 669px;
    margin-top: 85px;
    margin-left: -508px;
    height: 309px
}
.p8sec3{
    width: 553px;
    margin-top: 85px;
}
page9{
    width: 100%;
    height: 343px;
    background-color: blue;

}
.page10{
    width:100%;
    height:500px;
}
.page11{
    width: 100%;
    height: 456px;
    display:flex;
}
.p11section1{
    width: 50%;
    height: 464px;
    
}
.p11section2{
    height: 532px;
    width: 50%;
    background-color: #004c3f;

}
.p11text{
font-size: 31px;
    margin-left: 120px;
    margin-top: 37px;
    font-family: sans-serif;
}
.page12{
    width: 100%;
    height: 500px;
    background-color: white;
}
.p12content1{
    position: relative;
    top: 157px;
    color: black;
    margin-left: 241px;
}
.p12content2{
    position: relative;
    top: 174px;
    font-size: 19px;
    margin-left: 153px;
    color: gray;
}
.p12content3{
    position: relative;
    top: 184px;
    font-size: 19px;
    margin-left: 400px;
    color: gray;
}
.trial2{
    margin-top: 219px;
    margin-left: 398px;
    height: 49px;
    width: 152px;
    border-radius: 15px;
    background-color: #008060;
    color: white;
}
.footer{
    background-color: #004c3f;
    width: 60%;
    height: 215px;
    display:flex;
    margin-top: -42px;
    
}
#footercontent1{
    margin-left: 29px;
    margin-top: 44px;
    color: white;

}
.footer1{
    width: 60%;
    height: 200px;
    margin-top: -44px;
    background-color: #004c3f;
    position: relative;
    top: -91px;
}
#footercontent2{
    margin-left: 28px;
    margin-top: 14px;
    font-family: monospace;
    font-size: 14px;
    color: white;
}
.footer2{
    width: 200px;
    height: 200px;
    margin-top: -215px;
    background-color:#004c3f;
    margin-left: 172px;
    position: relative;
    top: -92px;
}
.footer3{

    width: 195px;
    background-color: #004c3f;
    margin-left: 362px;
    height: 181px;
    margin-top: -198px;
    position: relative;
    top: -104px;
}

.footer4{
    width: 195px;
    background-color: #004c3f;
    margin-left: 564px;
    height: 181px;
    margin-top: -248px;
    position: relative;
    top: -85px;
}
.footerimage{
    margin-left: 809px;
    width: 538px;
    height: 292px;
    background-color: #004c3f;
    margin-top: -356px;
}
#footimg{
    width: 196px;
    height: 102px;
    margin-top: 63px;
}

.foot{
    width: 100%;
    height: 500px;
    background-color: black;
}

